/*      All       */
.navbar-brand {
    font-size: xx-large;
    font-family: 'Lobster', cursive;
    text-shadow: 2px 2px 4px #000000;
}

footer {
    margin-top: 100px;
}

/*    Post list    */
.watpost-main {
    margin-top: 60px;
}

.post-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.post-item a {
    text-decoration: none;
    color: black;
}
/*    Post detail    */
.header-post {
    margin-top: 60px;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.header-post img {
    width: 100%;
    object-fit: cover;
}

.header-post .post-title {
    padding-top: 40px;
    margin-bottom: 20px;
}

